//*************************** Colors ***************************
$color__main: hsl(257, 40%, 49%) !default;
$color__text: hsl(0, 0%, 100%) !default;


//*************************** Fonts ***************************
$font-weight__regular: 400 !default;
$line-height__body: 1.45 !default;
$line-height__headers: 1.15 !default;

//*** Headings ***
$font_family__poppins: 'Poppins',
sans-serif !default;
$font-weight__semi-bold: 600 !default;

//*** Body ***
$font_family__open-sans: 'Open Sans',
sans-serif !default;

//************ Mobile ************ 
$font-size__mobile: 13px !default;

//************ Desktop ************ 
$font-size__desktop: 16px !default;