@import "sass/normalize";
@import "sass/variables";

* {
  box-sizing: border-box;
}

html {
  font-size: $font-size__mobile;
  position: relative;
}

a {
  cursor: pointer;
  color: white;
}

body {
  width: 100vw;
  // height: 100%;
  max-width: 100%;
  font-family: $font_family__open-sans;
  line-height: $line-height__body;
  background: $color__main;
}

.bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  & > img {
    width: 100%;
    height: auto;
  }

  & .bg-desktop {
    display: none;
  }

  & .bg-mobil {
    display: block;
  }
}

.inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  grid-template-areas: "header" "main-content" "social";
  margin: 0 36px;
}

// ***** Header Star *****
.inner__logo {
  grid-area: header;
  padding: 32px 0 60px;

  & img {
    width: 120px;
  }
}

// ***** Header End *****

// ***** Product Star *****
.inner__product {
  grid-area: main-content;
  padding-bottom: 60px;
}

.product {
  display: grid;

  grid-template-rows: min-content min-content;
  grid-auto-rows: min-content;
  grid-row-gap: 40px;
}

.product__ilustration {
  & img {
    width: 100%;
    height: auto;
  }
}

.product__description {
  text-align: center;
}

.description__text {
  color: $color__text;
  line-height: 1.5;
}

.title {
  margin: 16px 0;
  text-transform: capitalize;
  font-size: 23px;
  letter-spacing: 0.5px;
  font-weight: $font-weight__semi-bold;
  font-family: $font_family__poppins;
}

.paragraph {
  letter-spacing: 0.6px;
  font-size: 15px;
}

.product__btn {
  margin-top: 12px;
}

.btn-register {
  padding: 10px 64px;
  border-radius: 24px;
  border: none;
  color: $color__main;
  background: white;
  font-family: $font_family__poppins;
  box-shadow: 0 1.8px 4px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

// ***** Product End *****

// ***** Icons Start *****
.inner__icons {
  padding-bottom: 48px;
}

.social-icons {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-gap: 12px;
  color: white;
}

.icon-container {
  position: relative;
  width: 26px;
  height: 26px;
  border: 1.5px solid white;
  border-radius: 100%;
  background-color: transparent;

  & i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
}

// ***** Icons End *****
@media screen and (min-width: 768px) {
  html {
    font-size: $font-size__desktop;
  }

  .bg {
    & .bg-desktop {
      display: block;

      width: auto;
      max-width: 100%;
      height: 100%;
    }

    & .bg-mobil {
      display: none;
    }
  }

  .inner {
    margin: 30px 64px;
  }

  .inner__logo {
    padding-top: 0;

    & img {
      width: 194px;
    }
  }

  .inner__product {
    padding: 0;
  }

  .product {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 64px;
  }

  // .product__ilustration {
  //   & img {
  //     width: 100%;
  //     height: auto;
  //   }
  // }

  .product__description {
    text-align: left;
    align-self: center;
  }

  .title {
    font-size: 39px;
    letter-spacing: 2.5px;
  }

  .paragraph {
    letter-spacing: 0.6px;
    font-size: $font_size__desktop;
  }

  .btn-register {
    padding: 14px 54px;

    &:hover {
      box-shadow: none;
    }
  }

  .inner__icons {
    justify-content: flex-end;
    padding-bottom: 0;
  }

  .icon-container {
    width: 32px;
    height: 32px;

    &:hover {
      background-color: white;
    }
    &:hover i {
      color: $color__main;
    }
  }
}

@media screen and (min-height: 640px) {
  html {
    height: 100%;
  }
}
